$blue: #3190e8;
$bc: #e4e4e4;
$defaultColor: #33373d;


@mixin setBgImage($url) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

//center
@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//vertial center
@mixin verticalCenter {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

//horizontal center
@mixin horizontaolCenter {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

//set width and height
@mixin wh($width, $height) {
  width: $width;
  height: $height;
}

//set font family and size
@mixin font($size, $line-height, $family: 'Microsoft YaHei') {
  font: #{$size}/#{$line-height} $family;
}

@mixin borderRadius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}

//position viewport
@mixin allcover {
  position: absolute;
  top: 0;
  right: 0;
}


//set font size and color
@mixin sc($size, $color) {
  font-size: $size;
  color: $color;
}

//flex layput
@mixin setFlex($type: space-between) {
  display: flex;
  justify-content: $type;

}